* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.footer {
    width: 100%;
    background: #000000;
}

.footer-container {
    max-width: 1075px;
    width: 100%;
    margin: 47px auto 0 auto;
}

.footer-logo-row {
    align-items: center;
    display: flex;
}

.footer-logo-svg{
    margin: 0;
}

img.footer-logo-revised {
    max-width: 193px;
    width: 100%;
    max-height: 87px;
}

.footer-logo-row-gif{
    max-height: 163px;
    height: 47vh;
    max-width: 163px;
    width: 100%;
}

.footer-mentioned-add {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: 32px;
}

.footer-service-container {
    margin-top: 18px;
}

.ft-sevice-name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

span.ft-services-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.ft-for-margin{
    margin-top: 15px;
}

li.ft-service-name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}


.footer-all-services {
    display: flex;
    justify-content: space-between;
}

span.ft-trining-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 23px;
}


.footer-initiatives-container {
    margin: 62px 0 0 0;
}

.ft-initiatives-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.our-community-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.three-initiatives-CIF {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 1039px;
    width: 100%;
}

.CIF-campus-ambassador-Program {
    background: #FFFFFF;
    border-radius: 15px;
    max-width: 416px;
    width: 100%;
    height: 57px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

span.CIF-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.CIF-internships {
    background: #FFFFFF;
    border-radius: 15px;
    max-width: 208px;
    width: 100%;
    height: 57px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.CIF-free-online-events {
    background: #FFFFFF;
    border-radius: 15px;
    max-width: 297px;
    width: 100%;
    height: 57px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.simple-bottom-line {
    margin-top: 71px;
    height: 1px;
    max-width: 1075px;
    width: 100%;
    background: #ffffff;
}


    .project-talent-training-container {
        margin-top: 39.5px;
        display: flex;
        justify-content: space-between;
    }

.first-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.lets-talk {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin-top: 5px;
}

span.official-mails {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.mail-with-icons-sales {
    width: 283px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.mail-with-icons-careers {
    width: 309px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.mail-with-icons-hr {
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.footer-lets-row {
    max-width: 1075px;
    width: 100%;
    display: none;
}

 span.lets-row-elements {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    display: none;
}

.footer-mail-with-icons-none {
    display: flex;
    justify-content: space-between;
    display: none;
}

.mail-with-icons-sales-none {
    width: 283px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.mail-with-icons-careers-none {
    width: 283px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.mail-with-icons-hr-none {
    width: 283px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

span.official-mails-none {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    display: none;
}

.contact-numbers-container {
    margin-top: 26px;
}

.contact-numbers-with-icons {
    width: 266px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-number {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.contact-numbers-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.full-width-line {
    margin-top: 27px;
    height: 1px;
    width: 100%;
    background: #ffffff;
}

.footer-social-links-container {
    margin: 39px auto 27px auto;
    max-width: 1075px;
    width: 100%;
}

.footer-social-links {
    max-width: 371px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}